{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    {% set item = actual_item %}
    <div id='actual-item'>
    {% include "run/item.html" %}
    </div>
</div>

<div class="container">
    <div id='answer'>
    {% if quiz.status == 'results' and not show_category_id %}
        {% include "run/answer.html" %}
    {% endif %}
    </div>
</div>

<div class="container">
    <div class="col-md-12 text-right px-4 py-4">
        <form method="POST" >
        
        {% if next_item %}
        <button type="button" id="btn-category" class="btn btn-md btn-warning ml-2" {% if show_category_id %}disabled{% endif %} {% if actual_item.category_id == next_item.category_id %}style="display: none"{% endif %}>Show category</button>
        {% endif %}
        {% if quiz.status != 'results' %}
        <button type="button" id="btn-countdown" class="btn btn-md btn-primary ml-2" {% if show_category_id %}style="display: none"{% endif %}>Start countdown</button>
        {% endif %}
        {% if next_item %}
        <button type="button" id="btn-next" class="btn btn-md btn-success ml-2" {% if actual_item.category_id != next_item.category_id %}disabled{% endif %}>Next</button>
        {% endif %}
        {% if quiz.status != 'results' %}
            <button type="submit" id="btn-reload" class="btn btn-md btn-danger ml-2" name="results" value="results" {% if next_item %}style="display: none"{% endif %}>Results</button>
        {% else %}
            <button type="submit" id="btn-reload" class="btn btn-md btn-danger ml-2" name="deactivate" value="deactivate" {% if next_item %}style="display: none"{% endif %}>Deactivate</button>
        {% endif %}
        </form>
    </div>
</div>

<div class="container">
    {% set item = next_item %}
    {% if next_item %}
        <div id='next-item'>
        {% include "run/item.html" %}
        </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='util.js') }}"></script>
    <script src="{{ url_for('static', filename='run.js') }}"></script>
{% endblock %}
