<div class="card {% if item.actual %}border-success{% else %}border-info{% endif %} mb-2 pb-2">
    <div class="card-header">
        <table>
            <tr>
                <td class="text-nowrap">{{ item.title }}</td>
                {% if item.actual %}
                <td class="w-100 text-right">{{ run.questions_done + 1 }} / {{ quiz.questions_count }}</td>
                {% endif %}
            </tr>
        </table>
    </div>
    <div class="card-body">
        {% if item.category %}
        <p class="card-text"> <b>Category</b>: {{ item.category }} </p>
        {% endif %}
        {% if item.time_limit %}
        <p class="card-text"> <b>Time limit</b>: {{ item.time_limit }} s</p>
        {% endif %}
        <p class="card-text">
          <pre>{{ item.task }}</pre>
        </p>
    </div>
    {% if item.picture %}
    <div class="text-center">
    <img class="card-img-bottom" src="{{ url_for('main.get_file', name=item.picture) }}" alt="{{ item.picture }}" style="max-width: 50%">
    </div>
    {% endif %}
</div>
